<div class="toolbar">
	<h1 id="pageTitle">
		Images
	</h1>
</div>

<ul id="images" title="Images" selected="true">
  	<a class="button right_button" href="Image/new" target="_self">New</a>
	<%@images.each do |img|%>
	
	<li><%=link_to "#{img.title}", img.link %>
		<img src="<%= img.img_url %>" alt="image" width="200" height="200"/>
	
	</li>
	
	<%end%>
</ul>